body {
    background-color: #f0f0f0;
    color: black;
}

ol {
    background-color: #edd3d3;
    padding: 1.25rem;
    margin: 1.25rem;
    color: #fff;
    list-style-position: inside;
}

li {
    padding: 0.625rem;
    margin-bottom: 0.625rem;
}

li.selected {
    background-color: #c57f7f;
}

li span {
    background-color: #a34040;
    padding: 0.3125rem 0.625rem;
    color: white;
}